@model IEnumerable<RestaurantFrontEnd.Library.API_Models.Restaurant>

@{
    ViewData["Title"] = "BrowseRestaurants";
}

<h2>BrowseRestaurants</h2>

<p>
    
</p>
@Html.Partial("ListRestaurants", Model)
