@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (TempData["Username"] == null)
{
    <li class="hoover"><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    <li class="hoover"><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
}
else
{
    <li class="hoover"><a asp-area="" asp-controller="User" asp-action="Create">User-Create</a></li>
    <li class="hoover"><a asp-area="" asp-controller="User" asp-action="Details" asp-route-Username="@TempData.Peek("Username")">@TempData.Peek("Username")</a></li>
    <li class="hoover"><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
    <li class="hoover"><a asp-area="" asp-controller="Favorites" asp-action="Index">Faves</a></li>
    <li class="hoover"><a asp-area="" asp-controller="Blacklist" asp-action="Index">Blacklist</a></li>
    <li class="hoover"><a asp-area="" asp-controller="Restaurant" asp-action="Index">Find A Restaurant</a></li>
}