/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
}

button, .btn {
    border-radius: 50px;
    border: none;
    color: white;
    /*box-shadow: 0px 0px 2px 1px black;*/
    background-color: #8c101f;
        
}
input {
    border-radius: 45px;
    box-shadow: 0px 0px 2px 0.5px black inset;
    outline:none;
    border: none;
}

.navi {
    background-color: #8c101f;
    box-shadow: 2px 0.5px 5px 1px black;
}

.hoover{
    font-weight:bold;
}

@media (max-width: 765px) {
   
    .in{background-color:white}
    .collapse {
        background-color: white
    }
    .navbar-collapse {
        background-color: white;
        box-shadow:0px 0px 5px 1px black inset;
            
    }

    .hoover:hover {
        background-color: rgba(104, 103, 103,0.6);
    }
     

}

/*RESTAURANT INDEX VIEW*/





/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
