<h2>Browse Restaurants</h2>
<hr />
<div>
  <input type="text" [(ngModel)]="searchText" class="login" />
  <button (click)="searchRestaurants()">Search</button>
</div>
<br>
<hr>
<div *ngIf="fixedText">
  <h3>Restaurant results for: {{fixedText}}</h3>
</div>
<div *ngIf="!fixedText&&restaurants.length">
  <h3>All Restaurants:</h3>
</div>
<div *ngIf="restaurants && restaurants.length > 0">
  <ol start="{{start+1}}">
    <li *ngFor="let r of restaurantsSubset">
      <h3>{{r.name}}</h3>
      <ul>
        <li>Id:  {{r.id}}</li>
        <li>Address:  {{r.address}}</li>
        <li>Rating:  {{r.rating}}</li>
        <li>Price Level:  {{r.priceLevel}}</li>
        <li>
          <a routerLink="/details/{{r.id}}">
            View Details
          </a>
        </li>
      </ul>
    </li>
  </ol>
  <div style="text-align:center">
  <button (click)="goToPage1()">Page 1</button>
  <button (click)="goToPrevPage()">Prev. Page</button>
  ||
  <button disabled>{{currentResultsPage}}</button>
  ||
  <button (click)="goToNextPage()">Next Page</button>
  <button (click)="goToLastPage()">Page {{maxPages}}</button>
  </div>

</div>

<div *ngIf="!restaurants.length&&emptyResults">
  <span>No restaurants found :(</span>
</div>
