<h2>Login</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label class="control-label">Username</label>
                <input type="text" [(ngModel)]="account.username" class="form-control" name="angularUsername"/>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" [(ngModel)]="account.password" class="form-control" name="angularPassword"/>
            </div>
        </form>
        <button (click)="login()">Login</button>
    </div>
</div>